# Зависимости
node_modules

# Исключаем файлы сборки, так как они будут созданы в контейнере
.next
out
dist

# Тестовые файлы и папки
src/features/product-creation/test/

# Исключаем локальные настройки и файлы конфигурации редакторов
.env
.env.local
.env.development
.vscode
.idea
.DS_Store

# Docker файлы
Dockerfile
.dockerignore